## 학습목표
 1. Series 함수 활용하여 데이터 분석하기

In [4]:
import numpy as np
import pandas as pd

#### **Series size, shape, unique, count, value_counts 함수**
 - size : 개수 반환
 - shape : 튜플형태로 shape반환
 - unique: 유일한 값만 ndarray로 반환
 - count : NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균 
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [6]:
s=pd.Series([1,1,2,1,2,2,2,1,1,3,3,4,5,5,7,np.NaN])
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [10]:
len(s)

16

In [7]:
s.size

16

In [11]:
s.shape
# 항상 1차원임

(16,)

In [13]:
s.unique()
# 튜플과 비슷하군!

array([ 1.,  2.,  3.,  4.,  5.,  7., nan])

In [15]:
s.count()
# 실제 값이 있는 것만 호출 ( NaN 은 제외)

15

In [20]:
# numpy 와 pandas 의 차이점
# numpy 는 포함시킨다
# pandas 는 제외하고 계산
a=np.array([2,2,2,2,np.NaN])
print(a.mean())

b=pd.Series(a)
print(b.mean())

nan
2.0

In [23]:
# 값이 index 가 된다
# 빈도를 구할 때 요긴하게 쓰이겠군!!!
s.value_counts()

1.0    5
2.0    4
5.0    2
3.0    2
7.0    1
4.0    1
dtype: int64

index를 활용하여 멀티플한 값에 접근

In [28]:
s[5]

2.0

In [27]:
# index 값을 list 형태로 입력하면 여러개를 입력받을 수 있다.
s[[5,7,8]]

5    2.0
7    1.0
8    1.0
dtype: float64

## dataframe 사용시 많이 사용된다~~!

#### **head, tail 함수**
 - head : 상위 n개 출력 기본 5개
 - tail : 하위 n개 출력 기본 5개

In [31]:
s.head(n=7)

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
5    2.0
6    2.0
dtype: float64

In [30]:
s.tail()

11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [33]:
# 전체를 보고 싶을 때는
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64