In [1]:
import numpy as np
import pandas as pd

#### Series 값 변경
- 추가 및 업데이트 : 인덱스를 이용
- 삭제: drop 함수 이용

In [2]:
s=pd.Series(np.arange(100,105),['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [3]:
s['a']=200
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [12]:
s['k']=300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [13]:
s.drop('k')
# drop 함수는 원본을 변화시키지 않는다.
# inplace = True 로 하면 원본까지 변화시킨다!!!

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [14]:
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [15]:
s.drop('k',inplace=True)
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [16]:
s[['a','b']]

a    200
b    101
dtype: int64

In [18]:
# 한번에 여러개 변경하기
s[['a','b']]=[300,900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

#### Slicing
- 리스트, ndarray 와 동일하게 적용

In [20]:
s1=pd.Series(np.arange(100,105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [22]:
s1[1:3]

1    101
2    102
dtype: int32

In [23]:
s2=pd.Series(np.arange(100,105),['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [25]:
# 문자열로 이루어진 슬라이싱은 마지막 포함
print(s2['c':'d'])
# 숫자로 이루어진 슬라이싱은 마지막 미포함 ( 기존과 동일)
print(s2[1:2])

c    102
d    103
dtype: int32
b    101
dtype: int32